<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="css/AssertMgt.css" />

</head>

<body  ng-app="AssertIndexApp">
<div ng-controller="SysUserAdminController">

<div  class="col-md-12">
    <div class="bs-callout bs-callout-danger ">
        <strong>用户管理</strong><small>--系统用户管理。</small>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><span class="col-md-2 ">账目信息列表</span>
            <div class="btn-group">
                <button class="btn btn-success btn-xs " ng-disabled="checkboxes.checkedNum==0" ng-click="AddUser()" title="勾选后进行批量操作">增加用户</button>
                <button class="btn btn-primary btn-xs " ng-disabled="checkboxes.checkedNum==0" ng-click="ModifyUser()" title="勾选后进行批量操作">修改用户</button>
                <button class="btn btn-danger btn-xs " ng-disabled="checkboxes.checkedNum==0" ng-click="DelUser()" title="勾选后进行批量操作">删除用户</button>
            </div>
        </div>
<div class="panel-body">
    <table datatable="" id="AssertQueryTable" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>
</div>

    </div>
</div>
</div>
</body>
</html>